<div class="wrapper">
  <div class="back" [routerLink]="['/main']">
    <img src="../../../../assets/Group 4.png" class="desktop" />
  </div>
  <div class="head-wrapper">
    <a class="personal">თანამშრომლის ინფო</a>
    <a routerLink="/laptop">ლეპტოპის მახასიათებლები</a>
    <div *ngIf="underLineBoolean; else right">
      <hr class="underline" />
    </div>
    <ng-template #right>
      <hr class="underline-2" />
    </ng-template>
  </div>
  <div class="head-mobile">
    <img
      src="../../../assets/Vector-mobile.png"
      alt=""
      class="mobile"
      [routerLink]="['/main']"
    />
    <h2>თანამშრომლის ინფო</h2>
    <br />
    <h3>1/2</h3>
  </div>
  <div class="form">
    <form [formGroup]="formGroup">
      <div class="group">
        <div class="name">
          <label for="name">სახელი</label>
          <input
            type="text"
            formControlName="name"
            placeholder="თემური"
            [class.red-border]="
              formGroup.get('name')?.invalid && formGroup.get('name')?.touched
            "
          />

          <small
            *ngIf="
              formGroup.get('name')?.valid || formGroup.get('name')?.untouched;
              else explain
            "
            >მინიმუმ 2 სიმბოლო, ქართული ასოები</small
          >
          <ng-template #explain>#წერე ქართულად</ng-template>
        </div>

        <div class="surname">
          <label for="surname">გვარი</label>
          <input
            type="text"
            formControlName="surname"
            placeholder="თათარაშვილი"
            [class.red-border]="
              formGroup.get('surname')?.invalid &&
              formGroup.get('surname')?.touched
            "
          />
          <small
            *ngIf="
              formGroup.get('surname')?.valid ||
                formGroup.get('surname')?.untouched;
              else explain
            "
            >მინიმუმ 2 სიმბოლო, ქართული ასოები</small
          >
          <ng-template #explain>#წერე ქართულად</ng-template>
        </div>
      </div>
      <br />
      <select
        name="team"
        id="team"
        formControlName="team"
        (change)="teamValueChange($event)"
        [class.red-border]="
          formGroup.get('team')?.invalid && formGroup.get('team')?.touched
        "
      >
        <option value="">თიმი</option>
        <option [value]="team.id" *ngFor="let team of teamList">
          {{ team.name }}
        </option>
      </select>

      <br />

      <select
        name="position"
        id="position"
        formControlName="position"
        (change)="positionValueChange($event)"
        [class.red-border]="
          formGroup.get('position')?.invalid &&
          formGroup.get('position')?.touched
        "
      >
        <option value="">პოზიცია</option>
        <option [value]="position.id" *ngFor="let position of positionList">
          {{ position.name }}
        </option>
      </select>

      <br />

      <label for="email" class="mail">მეილი</label>
      <br />
      <input
        type="text"
        formControlName="email"
        placeholder="temotatara@redberry.ge"
        id="mail"
        [class.red-border]="
          formGroup.get('email')?.invalid && formGroup.get('email')?.touched
        "
      />
      <small
        *ngIf="
          formGroup.get('email')?.valid || formGroup.get('email')?.untouched;
          else email
        "
        class="marg"
        >უნდა მთავრდებოდეს @redberry.ge-ით</small
      >
      <ng-template #email class="marg">გამოიყენე რედბერის მეილი</ng-template>

      <br />
      <div class="wrapper-tel">
        <label for="tel" class="tel">ტელეფონის ნომერი</label>
        <br />
        <input
          type="text"
          formControlName="tel"
          placeholder="+995599123456789"
          id="tel"
          [class.red-border]="
            formGroup.get('tel')?.invalid && formGroup.get('tel')?.touched
          "
        />
        <small
          *ngIf="
            formGroup.get('tel')?.valid || formGroup.get('tel')?.untouched;
            else tel
          "
          >დაიწყე +995-ით</small
        >
        <ng-template #tel>მიუთითე სწორი მობილურის ნომერი</ng-template>
      </div>

      <button type="button" (click)="onClick()">შემდეგი</button>
    </form>
  </div>
</div>
