.wrapper {
  width: 1920px;
  height: 1207px;
  background: #ffffff;
  .mobile {
    display: none;
  }
  .back {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 70px;
    top: 53px;
    img:hover {
      cursor: pointer;
    }
  }
  .header {
    position: absolute;
    width: 309px;
    height: 21px;
    left: 806px;
    top: 76px;
    h2 {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 21px;
      color: #000000;
    }
  }
  .content {
    position: absolute;
    width: 1178px;
    height: 905px;
    top: 181px;
    left: 371px;
    display: flex;
    flex-direction: column;
    hr {
      width: 100%;
      border: 1px solid #a5a5a5;
      margin-bottom: 54px;
    }
    .col-1 {
      display: flex;
      flex-direction: row;
      width: inherit;
      margin-bottom: 84px;
      .left-side {
        img {
          width: 577px;
          height: 342px;
        }
      }
      .right-side {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 65px;
        .p-tags {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          color: #2e2e2e;
          margin-right: 80px;
        }
        .values {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #797979;
        }
      }
    }
    .col-2 {
      display: flex;
      flex-direction: row;
      width: inherit;
      margin-bottom: 84px;
      .col-2-left-side {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .col-2-tags {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          color: #2e2e2e;
          margin-right: 80px;
        }
        .col-2-values {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #797979;
        }
      }
      .col-2-right-side {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 103px;
        .col-2-right-tags {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          color: #2e2e2e;
          margin-right: 80px;
        }
        .col-2-right-values {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #797979;
        }
      }
    }
    .col-3 {
      display: flex;
      flex-direction: row;
      width: inherit;
      margin-bottom: 84px;
      .left {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .col-3-left-tags {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          color: #2e2e2e;
          margin-right: 20px;
        }
        .col-3-left-values {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #797979;
        }
      }
      .right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 103px;
        align-items: center;
        .col-3-right-tags {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          color: #2e2e2e;
          margin-right: 48px;
        }
        .col-3-right-values {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #797979;
        }
      }
    }
  }
}
@media screen and (max-width: 391px) {
  .wrapper {
    all: initial;
    width: 390px;
    height: 844px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    .content {
      all: initial;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center;
      .col-1,
      .col-2,
      .col-3 {
        all: initial;
        .left-side {
          display: flex;
          justify-content: center;
          img {
            all: initial;
            width: 98%;
          }
        }
        .right-side {
          all: initial;
          width: 100%;
          display: flex;
        }
        .col-2-right-side {
          all: initial;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          .col-2-right-values {
            margin-left: 70px;
          }
        }
        .right {
          all: initial;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }
        .col-3-right-values {
          margin-left: 65px;
        }
      }
    }
  }
  .for-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 33px;
    justify-content: space-around;
    .back {
      all: initial;
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
      img {
        all: initial;
        width: 9.21px;
        height: 16px;
      }
    }
    .header {
      all: initial;
    }
  }
}
